*{
    margin:0px;
    padding:0px;
}

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

button {
    background-color:grey;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
